

h2 ChangePassword
    form(action='/changepasswordonetimelink',method='post')
        | One Time Paassword :
        input(type='text',name='one_time_password')
        | NEW PASSWORD :
        input(type='password',name='new_password')
        input(type='submit',name='Change Password' value='Change Password')
